[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "~=4.5"
mock = "~=2.0"
mongomock = "~=3.13"

[packages]
jsonobject = "~=0.9.5"
fastjsonrpc = "~=0.3.0"
txmongo = "~=18.2.0"
Twisted = "~=18.9.0"

[requires]
python_version = "2.7"

[scripts]
tests = "coverage run .venv/bin/trial tests"
quality = "coverage xml -i"
