# This file is still required as readthedocs doesn't yet support Pipfile.
# See https://github.com/rtfd/readthedocs.org/issues/3181

sphinx
sphinx-rtd-theme
git+https://github.com/boolangery/sphinx-jsondomain.git#egg=sphinx-jsondomain
sphinxcontrib-httpdomain
jsonobject
fastjsonrpc
txmongo
Twisted
